<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        .div1 {
            margin: auto;
            text-align: center;
        }

        h1 {
            margin-top: 80px;
            font-family: "YouYuan", "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
            color: white;
        }

        .div1 h3 {
            font-family: "YouYuan", "Georgia", "Arial";
            color: white;
        }

        .div2 {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 35px;
            margin-left: 100px;
            color: white;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background-color: rgb(95, 135, 73);
            background-image: url("https://videojs.com/static/forest-hero-dc9ccb8e885c34c8377ec1af2b3cf268.svg");
            background-repeat: no-repeat;
            background-position: center top;
        }

        .card {

            position: relative;
            display: inline-block;
            margin-left: 150px;
            margin-top: 20px;
            vertical-align: top;
        }

        img {
            width: 300px;
            height: 200px;
            border-radius:15%
        }

        label {
            font-size: 25px;
            color: white;
            display: block;
            letter-spacing: 2px;
            font-family: "YouYuan", "Georgia", "Arial";
            text-align: center;
        }


        .wrap {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            /*
            grid-template-rows: 33% 33% 33%;
            row-gap: 60px;
            */
        }

        .wrap div {
            margin: auto;
        }

        .picture:hover {
            transform: rotateY(360deg);
            transition: 1.5s;
            transform-style: preserve-3d;
        }

        #time {
            margin: 60px auto 0 auto;
            color: white;
        }
    </style>

    <script type="text/javascript">
        var trun = function (sec) {
            return (sec < 10) ? "0" + sec : sec;
        }
        var run = function () {
            var weeks = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
            var d = new Date();
            var year = d.getFullYear();
            var month = d.getMonth() + 1;
            var date = d.getDate();
            var hours = d.getHours();
            var minutes = d.getMinutes();
            var seconds = d.getSeconds();
            var day = d.getDay();
            var str = year + "-" + trun(month) + "-" + trun(date) + " " + trun(hours) + ":" + trun(minutes) + ":" + trun(seconds) + " " + weeks[day];
            document.getElementById("time").innerHTML = str;
        }
        window.setInterval("run();", 1000);
    </script>
</head>

<body>
    <div class="div1">

        <h1>欢迎来到SCREAM英文兴趣俱乐部!</h1>
        <h3>
            SCREAM，一切都刚刚好。
            <br>
            SCREAM是学习和提高英语的免费网页。<br>
            在这里，看视频，学单词，听听力，练发音。<br>
            在这里，加入E-scream社群，交朋友，聊英语，更好地学习。<br>
            在这里，学英语，妙不可言。

        </h3>
    </div>
    <div class="div2">
        <h3>
            看视频，仔细听视频中的英文句子，选出和该句子意思相同的答案。难度由易到难分为：天堂、人间、地狱。<br>
            英语小白建议从天堂级开始学习哦~现在请进入SCREAM尽情玩耍吧！
        </h3>
    </div>

    <div class="wrap">
        <div class="content-left">
            <a href="/paradise">
                <img class="picture" id="para" src="images/paradise.jpg" alt="" />
            </a>

            <label for="para">天堂级</label>
        </div>
        <div class="content-center">
            <a href="/earth">
                <img class="picture" id="earth" src="images/earth.jpg" alt="" />
            </a>


            <label for="earth">人间级</label>

        </div>
        <div class="content-right">
            <a href="/hell">
                <img class="picture" id="hell" src="images/hell.jpg" alt="" />
            </a>

            <label for="hell">地狱级</label>
        </div>

        <div></div>

        <div id="time"></div>

    </div>
</body>

</html>